* {
	margin: 0;	
	padding: 0;\
}

.grid { 
	display: grid;
	grid-template-columns: 1fr 1fr;

	grid-template-rows: 1fr 1fr 1fr 
	1fr;

	grid-template-areas: 
	"title title"
	"header header"
	"sidebar sidebar"
	"content content"
	"footer footer"
	"footer 2 footer"
	grid-gap : 10px;
}
